*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color:lightblue;
}


iframe
{
    /*border: 5px solid blue;*/
    border:none;
}


.myMenu  /* Used to be "ul", but is class now */
{
    background-color:#cccccc;
    list-style-type: none;
}

.myMenu li:hover
{
    background-color:#ccaacc;
}

.myMenu li /* used to be just "li" */
{
    /* Add a comment? */
    display:inline-block;
    width: 160px;
    text-align: center;
    margin: 5px;
    padding: 3px 0 0 10px;
    background-color:#aabbcc;
    border-bottom: 2px solid black;
    border-left:10px solid maroon;
    
}

.myMenu li a /* used to be just "li a" */
{
    text-decoration: none;
}